p.preHeading {
    font-size: 2rem;
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.headline {
    margin:0px 0px 50px 0px;
}

.mainHeading {
    font-size: 4rem;
}
