@use '../../App.scss';

@media only screen and (min-width: 0px) {

    #openMenuButton {
        display:block;
        margin-right: 10px;
     }

    .closeMenuButton {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 10px;
        padding-right: 20px;
        color:  App.$SuperDarkGrey;
    }
    
    #mobileMenu {
        transition: ease-in-out 500ms;
        position: fixed;
        top: 0;
        right: 0;
        padding:0 0 10px 10px;
        border-radius: 0 0 0 50px;
        background-color: App.$SuperDarkGrey;
        border: 1px solid App.$text;
        box-shadow: rgb(0 0 0) 0px 10px 10px 0px;
    }

    .off-screen {
        transform: translateX(100%);
    }
    
    .rightBracket, .leftBracket {
        line-height: 1.5;
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        color: App.$text;
        transition: 1s;
        text-decoration: none;
        font-size: 1.5em;
        position: absolute;
        transition: linear 200ms;
    }
    
    .leftBracket {
        left: 0;
    }
    
    .rightBracket {
        right: 0;
    }
    
    #menu {
        display: none;
    }
    
    ul.verticalMenu {
        padding: 50px;
        border-radius: 0 0 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-item {
        color: App.$text;
        padding: 10px 20px;
        letter-spacing: 3px;
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        font-weight: 100;
        transition: 250ms;
    }

    .darkText {
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        color: App.$text;
    }

    .menu-item:hover, a.darkText:hover {
        color: white;
    }


    
    .menu-item-container:hover span.leftBracket {
        left: 12px;
    }
    
    .menu-item-container:hover span.rightBracket {
        right: 15px;
    }
    
    .verticalLinkPadding {
        padding-top:10px;
        padding-bottom: 10px;
    }

    nav#desktopMenu {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1266px) {
    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #openMenuButton {
        display:none;
    }
}