@import '../../App.scss';

#skills {
    display: flex;
    flex-direction: column;
    .headline {
        margin-bottom: 50px;
        color: white
    }
    .skill-title {
        color: white
    }
    #skills-grid {
        @media only screen and (min-width: 0px) { 
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin: 0 20px;
        }
        @media only screen and (min-width: 700px) { 
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media only screen and (min-width: 992px) { 
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .grid-item {
            @media only screen and (min-width: 0px) { 
                padding: 5px;
                border: 1px solid $text-transparent;
                text-align: center;
                box-shadow: rgb(0 0 0) 0px 10px 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            @media only screen and (min-width: 500px) { 
                padding: 20px;
            }
            .skill-icon {
                margin-bottom: 20px;
                color: $text;
            }
        }
    }
}