@use '../../App.scss';

@media only screen and (min-width: 0px) {
   footer {
    width: 100%;
    #footer-section {
        @media only screen and (min-width: 0px) {
        padding: 100px 0px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: auto;
        }
        @media only screen and (min-width: 500px) { 
            flex-direction: row;
            flex-wrap: wrap;
        }
        .footer-block {
            @media only screen and (min-width: 0px) {
                text-align: center;
                width: 100%;
                margin-bottom: 100px;
            }
            @media only screen and (min-width: 500px) {
                width: 50%;
            }
            @media only screen and (min-width: 1024px) {
                width: 25%;
                margin-bottom: 0px; 
            }
            #footer-logo {
                width: 100px;
            }
            .footer-heading {
                font-size: 2em;
                color: var(--text);
                margin-bottom: 25px;
            }
        }
    }
    #social-icon-container {
        border-top: 1px solid #ff550073;
        text-align: center;
        padding: 10px;
        width:100%;
        .icon {
            color: App.$text;
            margin: 0 100px;
            transition: 500ms;
            &:hover {
                color: white;
            }
        } 
    }   
    }   
}

