
$SuperDarkGrey: #101010;
$lightCyan: #01fff6;
$darkCyan: #013d3b;
$midCyan: #009d97;
$orange: #ee421a;
$darkOrange: #c92600;
$transparentLightOrange: #ff7c241e;
$text: #FF7B24;

body {
    background-color: $SuperDarkGrey;
}

// style the scroll bar