@import '../../App.scss';




@media only screen and (min-width: 0px) {
    section {
        border-top: 1px solid $text-transparent;
    }
    #about {
        text-align: center;
        .text-block {
            .headline {
                margin-bottom: 50px;
            }
        }
    }
    .text, #hobbies-container {
        margin-bottom: 50px;
    }

    #hobbies-personality {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    #hobbies-personality {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
