@media only screen and (min-width: 0px) {

    .stats {
        font-size: 1.2em;
    }

    .centerContainer {
        margin: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
    }

    .stat-text {
        margin-top: 50px;
    }

    .statsDescription {
        display: inline-block;
        width: 180px;
        text-align: left;
        letter-spacing: 3px;
    }

    .statRow {
        font-family: 'tekolight';
        display:flex;
        flex-direction: row;
        font-size: 1.5em;
        color: var(--text);
    }

    .dark {
        opacity: .1;
    }

    .statsContainer {
        margin-left:100px;
    }

}

@media only screen and (min-width: 500px) {

    .statRow {
        font-size: 2em;
    }

    .stats {
        font-size: 1.2em;
    }

    .statsContainer {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1266px) {

}