@use '../../App.scss';

@media only screen and (min-width: 0px) {

    .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: grab;
        padding: 5px;
        border-radius: 10px 30px;
        width: 3000px;
        margin-right: 50px;
        background: App.$SuperDarkGrey;
        counter-increment: gallery-cell;
        align-items: stretch;
        min-height: 500px;
    }

    .gitProjectLinkContainer {
        font-size: 1.5em;
    }

    .git-hub-link {
        font-family: 'tekolight';
        color: App.$text;
        padding-left: 30px;
        padding-right: 30px;
        letter-spacing: 3px;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .git-hub-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featureProjectDescription {
        font-size: 16px;
    }
    
    section#featured {
        display: block;
        min-height: 0;
        overflow: hidden;
    }

    .carousel {
        background-image: linear-gradient(to right, #c94000 , #FF7B24);
        padding-top: 200px;
        padding-bottom: 200px;
        outline:none;
        overflow: hidden;
    }
    
    .featureProjectTitle {
        color: white;
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        margin: 25px 0;
        letter-spacing: 3px;
        line-height: 0.9;
    }
    
    .featureProjectSubTitle {
        color: var(--text);
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
    
    .featureProjectDescription {
        color: white;
        font-size: 1em;
        margin-bottom: 25px;
    }

    .portfolioImage {
        width: 100%;
        border-radius: 5px 25px 0 0;
    }

}

@media only screen and (min-width: 500px) {

    .carousel-cell {
        padding: 25px;
        border-radius: 20px 60px;
        border: 6px solid  App.$text;
        width: 350px;
        min-height: 600px;
    }

    .portfolioImage {
        border-radius: 10px 50px 0 0;
    }

    .featureProjectDescription {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {

    .carousel-cell {
        padding: 25px;
        border-radius: 20px 60px;
        border: 6px solid  App.$text;
        width: 350px;
        min-height: 600px;
    }

    .portfolioImage {
        border-radius: 10px 50px 0 0;
    }
}

@media only screen and (min-width: 1024px) {

    .carousel-cell {
        padding: 25px;
        border-radius: 20px 75px;
        border: 6px solid  App.$text;
        width: 400px;
        min-height: 700px;
    }

    .portfolioImage {
        border-radius: 10px 50px 0 0;
    }
}

@media only screen and (min-width: 1266px) {

    .carousel-cell {
        border-radius: 25px 100px;
        border: 10px solid  App.$text;
        width: 500px;
        min-height: 800px;
    }
     
    .portfolioImage {
        border-radius: 10px 75px 0 0;
    }

    .gitProjectLinkContainer {
        font-size: 2em;
    }

    .featureProjectTitle {
        font-size: 3em;
    }

}